<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
  <main class="form-container">
    <form action="">
      <div class="input-container">
        <div>
          <label for="user_name">Username</label>
        </div>
        <div>
          <input type="text" name="user_name" id="user_name" placeholder="Enter Your Username">
        </div>
      </div>
      <div class="input-container">
        <div>
          <label for="password">Password</label>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Enter Your Password" minlength="10">
        </div>
      </div>
      <div class="buttons-container">
        <div class="cancel-btn">
          <button class="cancel">Cancel</button>
        </div>
        <div class="submit-btn">
          <button type="submit" class="submit">Submit</button>
        </div>
      </div>
    </form>
  </main>
  <script src="/static/scripts/form.js">

  </script>
</body>
</html>